[Unit]
Description=DDNS and letsencrypt updated
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ddns-letsencrypt-tool /etc/ddns-letsencrypt/config.yaml
User=ddns-letsencrypt
KillMode=process
Restart=on-failure
RestartSec=10s
RestartSteps=4
RestartMaxDelaySec=160s

[Install]
WantedBy=multi-user.target
